<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Gaegu-Regular.ttf</string>
		<string>Gaegu-Bold.ttf</string>
		<string>dovemayo.otf</string>
		<string>dovemayo_bold.otf</string>
		<string>GmarketSansTTFMedium.ttf</string>
		<string>GmarketSansTTFBold.ttf</string>
		<string>Cafe24OhsquareAir-v2.0.otf</string>
		<string>Cafe24Ohsquare-v2.0.otf</string>
	</array>
</dict>
</plist>
